@model LaFarmacia.Models.T_InvoiceHeader

@{
    ViewBag.Title = "Detalles de factura";
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Facturación", "Index", "Factura", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Productos", "Index", "Producto")</li>
                <li>@Html.ActionLink("Usuarios", "Index", "Usuario")</li>
                <li>@Html.ActionLink("Clientes", "Index", "Cliente")</li>
            </ul>
        </div>
    </div>
</div>
<h2>Detalles de factura</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_Client.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_Client.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_MethodPay.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_MethodPay.Description)
        </dd>

    </dl>

    <table class="table">
        <tr>
            <th>
                <label>Código Detalle de Factura</label>
            </th>
            <th>
                <label>Código Factura</label>
            </th>
            <th>
                <label>Código Producto</label>
            </th>
            <th>
                <label>Cantidad</label>
            </th>
            <th>
                <label>Precio Unitario</label>
            </th>
            <th>
                <label>Total</label>
            </th>
        </tr>

        @foreach (var item in Model.T_InvoiceDetail)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceHeaderCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
            </tr>
        }

    </table>


</div>
<p>
    @Html.ActionLink("Regresar", "Index")
</p>
