@model IEnumerable<LaFarmacia.Models.T_InvoiceHeader>

@{
    ViewBag.Title = "Modulo de Facturación";
}

<h2>Modulo de Facturación</h2>

<p>
    @Html.ActionLink("Crear Nueva Factura", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayMethodTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T_Client.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T_MethodPay.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.ActionLink("Detalles", "Details", new { id = item.Code })
        </td>
    </tr>
}

</table>
